<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/2cfc086b76.js" crossorigin="anonymous"></script>
    
    <%= favicon_link_tag asset_path('logo.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
